* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

article {
    width: 1440px;
    margin-top: 30px;
    font-family: sans-serif;
}

.client_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.client_list div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 145px;
    border-radius: 99px;
    background-color: #6F56FF;
    color: white;
    gap: 10px;
    font-family: Roboto;
    font-size: 18px;
}

.client_list h3 {
    font-size: 24px;
}

.client_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    margin: 40px 7px 0px 52px;
}

.client_bar div {
    color: #2C3646A3;
    font-size: 18px;
    font-weight: 500;
}