* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DFDFDF;
    font-family: sans-serif;
    width: 1440px;
    position: absolute;
    /* border: 1px solid orange; */
}

.client_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 104px 120px 40px 88px;
}

.client_list div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 145px;
    border-radius: 99px;
    background-color: #6F56FF;
    color: white;
    gap: 10px;
    font-size: 18px;
}

.client_list h3 {
    font-size: 24px;
}

.client_list a {
    text-decoration: none;
}

.client_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2C3646A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 127px 0px 104px;
}

.contact {
    display: flex;
    gap: 16px;
}

.blockIcons {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1264px;
    height: 80px;
    border-radius: 16px;
    background-color: white;
    font-size: 16px;
    margin: 13px 89px 0px 87px;
    border: 1px solid red;
    position: relative;
}

#button {
    background: none;
    border: 0;
    outline: 0;    
}

.button1 {
    margin-left: 17px;
    background: none;
    border: 0;
    outline: 0;
    position: absolute;
}

.named {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 53px;
    position: absolute;
}

.named p {
    color: #2C3646A3;
} 

.company {
    position: absolute;
    margin-left: 333px;
}

.number {
    position: absolute;
    margin-left: 590px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 35px;
    background-color: #CEFFCD;
    color: #337232;
    position: absolute;
    font-size: 16px;
    border-radius: 99px;
    margin-left: 827px;
    font-weight: 600;
}

.date {
    position: absolute;
    margin-left: 1050px;
    font-weight: 600;
}
/* 
.menus {
    display: flex;
    margin-left: 1222px;
    position: relative;
    align-items: center;
    border: 1px solid red;
} */

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-left: 1222px;
    padding: 8px;
}

.status1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 35px;
    background-color:#FFD6CD;
    color:#DF0000;
    position: absolute;
    font-size: 16px;
    border-radius: 99px;
    margin-left: 827px;
    font-weight: 600;
}

.changeMenu {
    display: none;
    flex-direction: column;
    gap: 15px;
    width: 180px;
    justify-content: center;
    padding: 7px;
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 1082px;
    background: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
}

.active {
    display: flex;
} 

.change, .del {
    display: flex;
    gap: 7px;
}