* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
}

.changed {
    position: absolute;
    top: 50px;
    left: 100px;
    padding: 50px 100px 50px 100px;
    border: 2px solid blue;
    background-color: white;
}    

.backend {
    display: flex;
    color: #C0C0C0;
    align-items: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    gap: 8px;
    margin-bottom: 30px;
}

.backend img {
    width: 20px;
}

a {
    text-decoration: none;
}

.backend img {
    width: 20px;
}

a {
    text-decoration: none;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;
    margin: 20px 0 20px 0;
}

.form-row label {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.form-row input {
    display: flex;
    height: 30px;
    border-radius: 5px;
    border-color: #C0C0C0;
    font-size: 16px;
    color: grey;
    padding-left: 20px;
}

.form-row input:focus {
    outline: 2px solid #C0C0C0;
}

#status {
    display: flex;
    justify-content: left;
    align-items: end;
    font-family: 'Times New Roman', Times, serif;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 35px;
    background-color: #CEFFCD;
    color: #337232;
    font-size: 16px;
    border-radius: 99px;
    font-weight: 600;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: grey;
    font-size: 16px;
}

#changeStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 300;
    margin-left: 10px;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    margin-left: 55px;
}